<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Formulario de alumno</title>
    </head>
    <body>
        <p>
            <a th:href="@{/alumnos}">
                Atrás
            </a>
        </p>
        
        <form method="POST" th:object="${alumno}" th:action="@{/alumnos/editar}">
            <input type="hidden" name="id" th:if="${alumno.id > 0}" th:value="${alumno.id}" />
            <input type="hidden" name="action" th:if="${alumno.id == 0}" value="insert" />
            <input type="hidden" name="action" th:unless="${alumno.id == 0}" value="update" />

            <p>
                Nombre: <input type="text" th:field="*{nombre}" />
            </p>
            <p>
                Apellidos:
                <input type="text" th:field="*{apellido}" />
            </p>
            <p>
                Fecha de nacimiento:
                <input type="date" th:field="*{fechaNacimiento}" />
            </p>
            
            <p>
                <button type="submit">Enviar</button>
            </p>
        </form>
    </body>
</html>
