<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Eliminar los datos de profesores</title>
    </head>
    <body>
        <p><a th:href="@{/profesores}">Atrás</a></p>
        
        <h1>Eliminar datos</h1>
        <blockquote>
            Nombre: <span th:text="${profesor.nombre}" /><br>
            Apellidos: <span th:text="${profesor.apellido}" /><br>
            Fecha de contratación <span th:text="${profesor.fechaContratacion}" />
        </blockquote>
        <p>Esto no tiene vuelta atrás. Tú verás.</p>
        
        <form method="POST" th:action="@{/profesores/{id}/eliminar(id=${profesor.id})}">            
            <button type="submit">Sin miedo al éxito</button>
        </form>
    </body>
</html>